<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        
        <link rel="stylesheet" href="style.css">
        </head>

    <body>
        <%- include('../partial/_navigation.ejs')%>
        <div class="container">
        <h1>About Us</h1>

      <h2>‘Griffin Toy House’</h2>
 <h4>
        Welcome to ‘Griffin Toy House’ – your #1 hotspot for brilliant toys, infant items, diversions, kids’ books and music, stationary utilities, and more.
        
        We’re committed to giving you the plain best with attention to the most astounding quality, unwavering quality, client administration, and uniqueness.
        
       <br> After its establishment in 1985, <b>‘Griffin Toy House’</b> made considerable progress in the past 30+ years. Presently, we’ve 17 toy shops in various areas in Maharashtra.
        
        We have an arrangement for extending crosswise over America.<br> On the off chance that you’re keen on collaborating with us for an establishment store, you’re most free to apply for it here.
        
        We convey items crosswise over America through our numerous distribution centers and retail accomplices.
        
        We feel pleased with being your most loved toy store chain in New Jersey, America in the wake of serving more than 1 million upbeat clients.
        
        Web-based shopping pattern is developing and we comprehend it as a need of time. ‘Organization Name’Toys. com is our new undertaking as an online toy store to remain accessible for you, at your recreation and accommodation.
        
        You can purchase toys online in America without stressing over the nature of the items or shipments. We offer 100% buy fulfillment and full discount or substitution on the off chance that you get harmed items.
        
        </h4>
        
    </div>
                <%-include("../partial/_footer.ejs")%>
    </body>
</html>
