<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download app for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="images/logo-play-store.png">
                </div>
            </div>
           
            <div class="footer-col-2">
                <img src="images/logo.png">
                <p>Our purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Use ful link</h3>
                <p>Download app for Android and ios mobile phone.</p>
            </div>
            <div class="footer-col-4">
                <h3>Folow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
                <p>Download app for Android and ios mobile phone.</p>
            </div>
            <hr>
        </div>
    </div>
</div>
